/* mulai dari sini */
body {
  background: #e0e5ec;
}
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}
/* ... seluruh CSS kamu lanjutkan di sini sampai selesai */
